

@media screen and (max-width: 500px) {
    .card__container {
        width: 180px;
        margin: 7px;
        box-sizing: border-box;
    }   
    .card__container .img__card {
        width: 180px;
        height: 150px;
    }
    .lower-items-card {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .card__container .item-name-card h3 {
        font-size: 17px;
        -webkit-line-clamp: 2;
    }
    .card__container button {
        margin-bottom: 15px;
    }
}

@media screen and (min-width: 300px) and (max-width: 404px) {
    .card__container {
        width: 140px;
        margin: 7px;
        height: auto;
        margin-top: 15px;
        border: 1px solid #b0b0b0;
    }

    .card__container .item-name-card h3 {
        font-size: 14px;
    }

    .card__container .img__card {
        height: 150px;
        width: 138px;
        object-fit: cover;
    }
    .h4-card {
        height: 23px;
    }
    .card__container button {
        width: 50px;
        font-size: 13px;
    }
    .card__container .btn-buy a{
        color: #fff;
    }
    .lower-items-card {
        display: flex;
        gap: 3px;
        margin: 5px;
        margin-bottom: -5px;
    }
    .card__container h3 {
        padding-left: 10px;
    }
}

@media screen and (min-width: 501px) {
    .card__container {
        box-sizing: border-box;
        width: 200px;
        margin: 7px;
        border: 1px solid #b0b0b0;
        cursor: default;
    }  
    .card__container .img__card {
        width: 198px;
        height: 170px;
        border-bottom: 1px solid #919191;
    }

    .lower-items-card {
        display: flex;
        justify-content: center;
        padding-top: 7px;
        gap: 15px;
        padding-bottom: 20px;
    }

    .card__container .item-name-card h3 {
        font-size: 17px;
    }
    .card__container button {
        height: 36px;
        width: 75px;
    }
}

.card__container {
    background-color:  #ebe8e8;
    border-radius: 7px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1),0px 0px 5px 0px rgba(0,0,0,0.1);
}

.card__container h3{
    text-align: start;
    padding-left: 15px;
    padding-right: 3px;
}

.card__container h3 {
    color: #3d3d3d;
    padding-top: 10px;
    font-size: 23px;
}

.card__container h4 {
    color: #444444;
    font-weight: 600;
    margin-bottom: 0px;
}

.card__container img {
    border-top-left-radius: 4px ;
    border-top-right-radius: 4px ;
}

.card__container button {
    height: 36px;
    width: 75px;
    border: 1px solid #000000;
    border-radius: 3px;
}

.card__container .btn-buy {
    background: #28a745;
    transition: all ease 0.3s;
    color: #fff;
}

.card__container .linkto-details  {
    color:  #007bff;
}

.card__container .linkto-details {
    color: #007bff ;
}

.card__container .linkto-details button {
    border: 1px solid #007bff;
    color:  #007bff;;
}
.card__container button img {
    color: #fff;
}

hr {
    margin: 10px 0px;
}