.card-container-admin img{
    height: 200px;
    border-radius: 10px 10px 0px 0px;
}

.btn-edit, .btn-delete {
    height: 30px;
    width: 50px;
    margin: 10px;
    cursor: pointer;
}

.btn-edit {
    background-color: #38b128;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    border: 1px solid #000000c6;
}

.btn-delete {
    background-color: #d61c1c;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    border: 1px solid #000000;
}

.btn-minus {
    height: 25px;
    width: 25px;
    margin: 10px;
    cursor: pointer;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    border: 1px solid #000000;
    color: #000000
}

.stock-items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}