.card-admin-container {
    /* width: 180px; */
    background: #2ffdfa;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}

.card-name-admin, .card-stock-admin, .card-price-admin {
    font-size: 22px;
}

.card-admin-container img{
    height: 200px;
    border-radius: 10px 10px 0px 0px;
}

.btn-delete {
    padding: 5px;
    margin: 10px;
    cursor: pointer;
    background-color: #d61c1c;
    border-radius: 5px;
    color: #ffffff;
    border: 1px solid #000000;
}

.btn-minus {
    padding: 5px 15px;
    margin: 10px;
    cursor: pointer;
    background-color: #faa019;
    border-radius: 5px;
    border: 1px solid #000000;
    color: #000000
}