.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    /* background-color: rgb(167, 197, 221); */
}

.form-container input  {
    height: 40px;
    width: 350px;
    outline: none;
    padding-left: 10px;
    box-sizing: border-box;
}

textarea { 
    width: 350px; 
    height: 100px; 
    padding-left: 10px;
    padding-top: 5px;
    box-sizing: border-box;
    outline: none;
}

.form__container {
    height: 100vh;
    background-color: #BBECE8;
}

form button {
    height: 30px;
    width: 90px;
}
