.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.form-container input  {
    height: 40px;
    width: 350px;
    outline: none;
    padding-left: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #000;
    margin: -7px;
}

textarea { 
    width: 350px; 
    height: 100px; 
    padding-left: 10px;
    padding-top: 5px;
    box-sizing: border-box;
    outline: none;
    border-radius: 10px;
    border: 1px solid #000;
}

form .btn-publicar {
    padding: 5px 0px;
    width: 350px;
    background: #9ee6e0;
    border: 1px solid #000;
    border-radius: 10px;
}

.btn-delete-category {
    padding: 0px 10px;
    border-radius: 50%;
    border: 1px solid #000;
    color: #fff;
    background: red;
}

.category-selected {
    margin: 5px;
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container-category-selected {
    margin: 10px;
}

select {
    outline: none;
}