.container__details__route {
    background: linear-gradient(#c9f0e4, #a0b5eb);
}

@media screen and (min-width: 300px) and (max-width: 950px) {
    .container__details__items {
        display: flex;
        flex-direction: column;
        text-align: start;
    }
    .img__details img {
        align-items: center;
        border-radius: 7px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        height: 350px;
        width: 350px;
        margin-top: 10px;
    }

    .img__details {
        display: flex;
        justify-content: center;
        box-sizing: border-box;
    }
        
    .btn__inicio {
        height: 30px;
        width: 50px;
        background-color: #84DFDF;
        border: 1px solid #000000;
        font-weight: 900;
        cursor: pointer;
    }

    .btn__comprar {
        height: 35px;
        width: 100%;
        background-color: #84DFDF;
        border: 1px solid #000000;
        font-weight: 900;
        cursor: pointer;
        border-radius: 10px;
    }

    .detail__items {
        display: flex;
        flex-direction: column;
        text-align: justify;
        justify-content: center;
        margin: 20px;
    }

    .detail__items a{
        display: flex;
        justify-content: center;
    }

    .description {
        padding-bottom: 20px;
        padding-right: 5px;
    }

    .price {
        padding-bottom: 20px;
    }

    .product {
        padding-bottom: 20px;
        
    }

    .btn__volver img {
        padding-bottom: 3px;
    }    

    .btn__volver {
        padding: 12px 7px;
        background-color: #84DFDF;
        border-radius: 50%;
        transition: all ease 0.4s;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border: none;
        margin: 20px 10px;
    }
    .btn__comprar:hover {
        border: 0.1px solid #000000;
        box-shadow: none;
    }
}

@media screen and (min-width: 951px) {
    .container__details__items {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: start;
        min-height: 60vh;
    }

    .img__details img {
        display: flex;
        align-items: center;
        border-radius: 7px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        height: 400px;
        width: 400px;
    }

    .img__details {
        margin-right: 40px;
        margin-top: 60px;
    } 
    
    .detail__items {
        margin-top: 10px;
        margin-left: 40px;
    }

    .footer-container {
        padding-top: 48px;
    }

    .btn__comprar {
        background-color: #84DFDF;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 35px;
        width: 80%;
        border-radius: 10px;
        transition: all ease 0.4s;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border: none;
    }
    .btn__comprar:hover {
        border: 0.1px solid #000000;
        box-shadow: none;
    }
    .product, .price, .description {
        margin: 25px;
    }
    .detail__items .description {
        width: 80%;
        font-size: 20px;
    }
    .btn__volver {
        position: absolute;
        left: 50px;
        top: 100px;
        background-color: #84DFDF;
        padding: 10px;
        border-radius: 50%;
        transition: all ease 0.4s;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border: none;
    }
    .btn__volver:hover { 
        border: 1px solid #000000b9;
        box-shadow: none;

    }
}