.container__details__route {
    background: linear-gradient(160deg, #c9f0e4, #a0b5eb);
}

a {
    color: #000;
}

a:hover {
    color: #000;
}

.btn__comprar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

@media screen and (min-width: 300px) and (max-width: 950px) {
    .container__details__items {
        display: flex;
        flex-direction: column;
        text-align: start;
    }
    .img__details img {
        align-items: center;
        border-radius: 7px;
        border: 1px solid #000;
        height: 350px;
        width: 350px;
        margin-top: 10px;
    }

    .img__details {
        display: flex;
        justify-content: center;
        box-sizing: border-box;
    }
        
    .btn__inicio {
        height: 30px;
        width: 50px;
        background-color: #84DFDF;
        border: 1px solid #000000;
        cursor: pointer;
    }

    .btn__comprar {
        height: 35px;
        width: 100%;
        background-color: #84DFDF;
        border: 1px solid #000000;
        font-weight: 600;
        cursor: pointer;
        border-radius: 5px;
    }

    .detail__items {
        display: flex;
        flex-direction: column;
        text-align: justify;
        justify-content: center;
        margin: 20px;
    }

    .detail__items a{
        display: flex;
        justify-content: center;
    }

    .description {
        padding-bottom: 20px;
        padding-right: 5px;
    }

    .price {
        padding-bottom: 20px;
    }

    .product {
        padding-bottom: 20px;
        
    }

    .btn__volver img {
        padding-bottom: 3px;
    }    

    .container-btn-volver {
        width: 100%;
        margin-top: 12px;
    }

    .btn__volver {
        padding: 12px 7px;
        background-color: #84DFDF;
        border-radius: 50%;
        transition: all ease 0.4s;
        margin: 20px 10px;
        border: 1px solid rgb(130, 130, 130);
    }
    .btn__comprar:hover {
        box-shadow: #00000059 0px 0px 10px 2px;
    }
}

@media screen and (min-width: 951px) {
    .container__details__items {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: start;
        min-height: 60vh;
    }

    .img__details img {
        display: flex;
        align-items: center;
        border-radius: 7px;
        border: 1px solid #000;
        height: 400px;
        width: 400px;
        margin-left: 50px;
    }

    .img__details {
        margin-right: 40px;
        margin-top: 60px;
    } 
    
    .detail__items {
        margin-top: 10px;
        margin-left: 40px;
    }

    .btn__comprar {
        background-color: #84DFDF;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 35px;
        width: 80%;
        border-radius: 5px;
        border: 0.1px solid #000000;
        box-shadow: none;
        font-weight: 600;
    }
    .btn__comprar:hover {
        transition: all ease 0.4s;
        background-color: #6dd6d6;

    }
    .btn__comprar img {
        padding-left: 5px;
    }
    .product, .price, .description {
        margin: 25px;
    }
    .detail__items .description {
        width: 80%;
        font-size: 20px;
    }

    .container-btn-volver {
        margin-top: 15px;
        margin-left: 15px;
    }

    .btn__volver {
        background-color: #84DFDF;
        padding: 10px;
        border-radius: 50%;
        border: 1px solid #000000b9;
        box-shadow: none;
    }
    .btn__volver:hover { 
        transition: all ease 0.4s;
        background-color: #6dd6d6;
    }
}