* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    background: linear-gradient(#c9f0e4, #a0b5eb);
    height: 100vh;
}

.card__home {
    text-align: center;
}

.align__card {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (min-width: 320px) {
    .align__card {
        padding-left: 0px;
        padding-right: 0px;
        justify-content: center;
    }
}
    
@media screen and (min-width: 950px) {
    .align__card {
        padding-left: 120px;
        padding-right: 120px;   
        justify-content: center;
    }
}


.footer-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}