@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@300&family=Lato&family=League+Spartan&family=Nunito:wght@500&family=Open+Sans&family=Oswald:wght@300;700&family=Poppins:wght@700&family=Source+Sans+Pro:wght@200;300;600&display=swap'); */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    /* background: linear-gradient(160deg, #2c03b4, #6d0977); */
    background: #ebe8e8;
    background: linear-gradient(160deg, #c9f0e4, #a0b5eb);
    background-attachment: fixed;

}

.container-home {
    height: 100vh;
    background-size: calc(100vh - 90px);

}

a:hover {
    color: none;
}

.card__home {
    text-align: center;
}

.align__card {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (min-width: 320px) {
    .align__card {
        padding-left: 0px;
        padding-right: 0px;
        justify-content: center;
    }
}
    
@media screen and (min-width: 950px) {
    .align__card {
        padding-left: 120px;
        padding-right: 120px;   
        justify-content: center;
    }
}

.spinner-container {
    height: calc(70vh - 70px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner {
    height: 150px;
    width: 150px;
}    
