.item-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    margin-left: 150px;
    margin-right: 150px;
}

.item {
    margin: 5px;
    border-radius: 10px 10px ;
    padding-bottom: 15px;
    width: 200px;
}

.manage-container form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px
}
.manage-container form input {
    width: 50%;
    height: 30px;
    border-right: none;
    border-radius: 10px 0px 0px 10px;
    outline: none;
    border: 1px solid #000;
    padding-left: 10px;
}


.manage-container form button {
    border: 1px solid #000;
    border-left: none;
    border-radius: 0px 10px 10px 0px;
}
.btn-volver{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-volver button {
    background-color: #9ee6e0;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    border: 1px solid #000;
    box-sizing: border-box;
    transition: all ease 0.3s;
    margin: 25px;
}