.nav-ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

a {
    text-decoration: none;
    color: #000000
}

.nav-bar {
    height: 70px;
    background-color: #84DFDF;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;  
    margin-bottom: 15px;
}

.logo__nav {
    padding-top: 5px;
}

.nav-responsive-button {
    float: right;
    padding: 18px 20px;
}

@media only screen and (max-width: 658px) {
    /* .nav-ul {
        display: none;
    } */
    .nav-responsive-ul {
        display: block;
    }
}
