.nav-ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: #000000
}

.nav-bar {
    height: 70px;
    background-color: #84DFDF;
    /* box-shadow: -7px 8px 7px -4px rgba(0,0,0,0.1),7px 5px 15px -3px rgba(0,0,0,0.1); */
    border-bottom: 1px solid #000;
    margin-bottom: 15px;
}

.logo__nav {
    padding-top: 5px;
}

.nav-responsive-button {
    float: right;
    padding: 18px 20px;
}
/* 
@media only screen and (max-width: 658px) {
    .nav-ul {
    }
    .nav-responsive-ul {
        display: none;
        display: block;
    }
} */
