.searchbar input {
    width: 70%;
    padding-left: 30px;
    height: 30px;
    outline: none;
    border: 1px solid rgb(0, 0, 0);
    font-family: 'Roboto Condensed', sans-serif;
}

.searchbar {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.searchbar button {
    background-color: #84DFDF;
    border: 1px solid #000000;
    font-weight: 400;
    cursor: pointer;
    width: 60px;
}