.searchbar input {
    width: 70%;
    padding-left: 30px;
    height: 30px;
    outline: none;
    border-top: 1px solid rgb(0, 0, 0);
    border-left: 1px solid rgb(0, 0, 0);
    border-bottom: 1px solid rgb(0, 0, 0);
    font-family: 'Roboto Condensed', sans-serif;
    border-right: none;
}

.searchbar {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    height: 30px;
}

.searchbar button {
    background-color: #84DFDF;
    border: 1px solid #000000;
    font-weight: 400;
    cursor: pointer;
    width: 60px;
}

.modal-contenido {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color:aqua;
    width:800px;
    padding: 10px 20px;
}

.modal {
    background-color: #0000005f;
    position:fixed;
    display: flex;
    top:0;
    right:0;
    bottom:0;
    left:0;
    opacity:0;
    pointer-events:none;
}

#miModal {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5px;
}

#miModal:target {
    opacity: 1;
    pointer-events: auto;
}

.cerrar-modal {
    position: relative;
    left: 49%;
    bottom: 63%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 50px;
}

.cerrar-modal a {
    background-color: #e22121;
    color: #ffffff;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    text-align: center;
}    

.searchbar a {
    padding-left: 10px;
}

.detail-items label input {
    height: 20px;
}

.detail-items label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.btn-filter {
    height: 30px;
}

@media screen and (min-width: 320px) {
    .searchbar {
        padding-left: 10px;
    }
    .searchbar input {
        padding-left: 15px;
    };
    .btn-filter {
        padding-right: 15px;
    }
    .detail-items label input {
        width: 120px;
        display: flex;
        flex-direction: column;
        padding-left: 150px;
    }
    label {
        height: 30px;
    }
}

@media screen and (min-width: 650px) {
    .modal-contenido {
        width: 500px;
    }
}

.modal-btn {
    margin: 20px;
}

.modal-btn button{
    height: 30px;
}

.modal-title {
    padding-bottom: 10px;
}

.detail-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
}